.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.carrosel {
  display: flex;
  height: 220px;
  margin: auto;
  overflow-x: scroll;
  width: 100%;
}

.carrossel-card {
  margin: auto 10px;
}

footer button > img {
  width: 40px;
}

.carrossel-card img {
  height: 160px;
}

.carrossel-card p {
  margin: 0;
}

.start-recipe-btn {
  border-radius: 50%;
  bottom: 0;
  font-size: 10px;
  height: 50px;
  position: fixed;
  right: 15px;
  width: 50px;
  z-index: 1;
}

footer {
  background-color: goldenrod;
  bottom: 0;
  display: inline-flex;
  height: 65px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

footer button {
  background-color: transparent;
  border: none;
}
